In [12]:
import pandas as pd
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}
walterwhite = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
data = pd.DataFrame(walterwhite)
data
b = data[["Marks"]]
c = data[['Country', "Course"]]
data2=pd.DataFrame(x)
data3 = data2
data2=data2.set_index("Name")
data2.loc['Jane', 'Department']
data2.iloc[3, 2]
data3.loc[2:3,'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure

In [5]:

import pandas as pd
#import urllib.request
#urllib.request.urlretrieve("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv", "TopSellingAlbums.csv")
#filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

df = pd.read_csv("TopSellingAlbums.csv")

q = df[["Rating"]]
q = df[["Released", "Artist"]]
df.iloc[1, 2]
new_index=['a','b','c','d','e','f','g','h']
df_new = df
df_new.index = new_index
df_new.loc["a", "Artist"]
df_new.loc["a":"d", "Artist"]

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object